body{
    background-color:  rgba(211, 104, 62, 0.795);
}
#inicio{
    position: absolute;
left: 300px;
top: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: large;
}

#logo2{
    position: absolute;
    left: 400px;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
#escudo{
    position: absolute;
    left: 500px;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

#himno{
    position: absolute;
    left: 600px;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

#proyecto{
    position: absolute;
    left: 700px;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
#induccion{

    position: absolute;
    left: 800px;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}






#texto1{
position: absolute;
left: 500px;
top: 100px;
font-family: 'Ubuntu', sans-serif; 
}
#bandera{
    position: absolute;
    left: 500px;
    top: 200px;
    transform: rotate(-90deg);
}
#texto2{
    position: absolute;
    left: 50px;
    top: 500px;
    font-family: 'Ubuntu', sans-serif;
}
#creador{
    position: absolute;
    left: 50px;
    top: 700px;
    font-family: 'Ubuntu', sans-serif;
}
#c1 {
    position: absolute;
left: -2px;
top: 10px;
width: 1340px;
height: 100px;
background-color: green;
}

a{
    color: rgb(78, 220, 255);
    text-decoration: none;
}

a:hover{
color: brown;
}

#bibliografias {
    position: absolute;
    left: 900px;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}